article{
    margin: 20px;
}

h2{
    color: burlywood;
}

div #googleMap{
    width:500px;
    height:380px;
    margin: 20px;
    padding:10px;
    border: 1px solid #dedede;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
}
